.hero {
    width: 100%;
    height: auto;
    padding: 70px 0 48px 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #758995;
    background-image: url('./../../assets/images/cover-image.png');
    background-repeat: no-repeat;
    background-position: center;
}
.hero img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}