@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {

    /* Light Theme LT */
    --lt-bk1:#FFFFFF;
    --lt-bk2:#F6F8FA;
    --lt-bk3:#00BDD6;
    --lt-bk4:#00B0C7;
    --lt-tx:#24292F;
    --lt-tx2: #F8FFFF;
    --lt-tx3:#0669Da;
    /* Dark Theme DT */
    --dt-bk1:#0D1117;
    --dt-bk2: #161B22;
    --dt-bk3: #132339;
    --dt-tx: #c9d1dc9;
    --dt-tx2: #58A6FF;

    /* actions button */
    --bk-action: #3798FF;
    --bk-action-h:#0969DA;
    --tx-action: #F8FFFF;
    --black1: #323333;
    --black2: #2A2B2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: var(--lt-bk);
    color: var(--lt-tx);
    font-size: 62.5%;
    line-height: 1.15;
}

h1,h2,h3 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h1,h3 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 500;
}

h3 {    
    letter-spacing: .5rem;
    margin-bottom: 5rem;
}

p {
    padding: 0 2rem;
    text-align: justify;
    font-size: 1.8rem;    
    font-weight: 400;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--lt-tx);
}

small {
    font-size: 1.2rem;
    /* margin-left: .8rem; */
}

hr {
    border: 0;
    height: .1rem; 
    max-width: 100%;    
    background-image: linear-gradient(to right, transparent, var(--lt-bk1), transparent);
}

header {
    width: 100%;
    height: auto;    
    padding: 5rem 0 0;
    position: relative;
    background-image: url('../assets/images/cover-image.png');
    background-repeat: no-repeat;
    background-position: center;
}

main {
    padding-top: 3rem;
}

main section {
    padding: 6rem 0 3rem;
}

main section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 10rem;
}

@media (max-width: 500px) {
    main section>div {
        padding: 6rem 6rem
    }
}

main section:nth-child(even) {
    background: linear-gradient(var(--lt-bk3), var(--lt-bk4));
    color: var(--lt-tx2);
}

main section:nth-child(even) hr {
    background-image: linear-gradient(to right, transparent, var(--lt-bk1), transparent);
}

main section:nth-child(odd) {
    background: linear-gradient(var(--lt-bk1), var(--lt-bk2));
    color: var(--lt-tx);
}

main section:nth-child(odd) hr {
    background-image: linear-gradient(to right, transparent, var(--lt-bk3), transparent);
}