
#contact form,
.SentMessage {
    padding: 3rem;
    width: 60%;
    height: 400px;    
    font-size: 1.8rem;
    background-color: var(--lt-bk2);
    color: var(--lt-tx);
    border: 1px solid var(--lt-bk3);    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form label {
    display: block;
    margin: 0;
    width: 50%;
}

#contact input, 
#contact textarea {    
    color: var(--lt-tx2);
    background-color: var(--lt-bk3);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
    border-radius: .5rem;
    box-shadow: none;
    cursor: context-menu;
    margin: 1rem 0 2rem;
    padding: 1rem;
    width: 100%;
}
#contact input:focus, 
#contact input:hover, 
#contact textarea:focus, 
#contact textarea:hover {
    background-color: var(--lt-bk4);
}

#contact textarea {
    resize: none;
    overflow: auto;
}

.contact__btn {    
    font-size: 1.8rem;
    background-color: var(--bk-action);
    color: var(--tx-action);
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 3rem;
    padding: 1.6rem;
    transition: background-color .3s ease;
}

.contact__btn:hover {
    background-color: var(--bk-action-h);
}

#contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#contact img {
    width: 45px;
    height: 45px;
    border: 1.5px solid var(--lt-bk3); 
    border-radius: 50%;
    background-color: var(--lt-bk3); 
    margin: 1rem;
    transition: all .3s ease;
}

